footer {
    max-width: 1920px;
    margin: 0 auto;
    height: 33px;
    background-color: $default;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: $white;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}