header {
  max-width: 1920px;
  margin: 0 auto;
  border-bottom: 2px solid #c7c7c7;
  width: 100%;

  .header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart {
      padding-right: 5px;
      position: relative;
      img {
        width: 30px;
        height: 30px;
      }

      .cartItem {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        line-height: 25px;
        width: 25px;
        height: 25px;
        background-color: $primary;
        color: $white;
        font-weight: 500;
        border-radius: 50%;
        position: absolute;
        top: 16px;
        left: 14px;
      }
    }
  }
}
