input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    transition: all 0.3s;
  }

  &:checked {
    &::after {
      background: $primary;
    }
  }

  &:not(:checked) {
    &:hover {
      &::after {
        background-color: #b4afaf;
      }
    }
  }
}

.box-check {
  margin-top: 14px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  position: relative;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;

    span {
      cursor: pointer;
    }
  }
}

.btn {
  padding: 7px 49px;
  color: $white;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .6s;

  &.default {
    background-color: $default;

    &:hover {
      background-color: $neutral-100;
    }
  }

  &.primary {
    padding: 8px 31px;
    background-color: $primary;

    &:hover {
      filter: grayscale(0.3);
    }
  }
}

.card-item {
  width: 195px;
  text-align: center;
  animation: fadeIn forwards .8s;

  .card-description {
    margin-top: 10px;
    margin-bottom: 14px;

    .card-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 10px;
      text-transform: uppercase;

    }

    .card-price {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }

    .card-parcel {
      font-size: 16px;
      line-height: 22px;
      color: $neutral-200;
    }
  }

  .btn {
    width: 100%;
  }

}

@keyframes fadeIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}